@font-face {
  font-family: EuropeExt;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/EuropeExt.woff2") format("woff2"),
    url("../fonts/EuropeExt.woff") format("woff");
}

@font-face {
  font-family: EuropeExt;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/EuropeExtBold.woff2") format("woff2"),
    url("../fonts/EuropeExtBold.woff") format("woff");
}

body {
  margin: 0;
  max-width: 1920px;
}

.header {
  background-image: url("../image/header.png");
}

.container__out {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.header__menu {
  height: 78px;
  margin: 0 -5px;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px 0;
  margin: 0 5px;
}

.header__link:hover,
.header__link:active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.header__link.is-active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.title {
  position: relative;
  background-image: url("../image/art-museum-render.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 681px;
}

.title__shadow {
  position: absolute;
  left: 50%;
  right: 50%;
  z-index: 0;
  display: flex;
  justify-content: center;
  top: 75px;
}

.title__heading {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.title__heading-social {
  text-align: right;
  margin-top: -3px;
}

.title__heading-social * {
  vertical-align: middle;
}

.title__heading-social-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #01983b;
  text-transform: uppercase;
  padding-right: 9px;
}

.title__heading-social-li-image:hover,
.title__heading-social-vk-image:hover {
  filter: saturate(250%);
}

.title__heading-telephone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2c2783;
  margin-top: 3px;
}

.title__heading-telephone-link {
  color: #2c2783;
  text-decoration: none;
}

.title__heading-telephone-link:hover {
  text-decoration: underline;
}

.title__heading-telephone-link:active {
  color: #000;
}

.title__heading-contacts-search {
  margin-top: 2px;
}

.title__heading-contacts-search-input {
  width: 94%;
  border: none;
  border-bottom: 1px solid #bfbeda;
  outline: none;
}

.title__heading-contacts-search-submit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
}

.title__heading-contacts-search-submit:active {
  filter: invert(50%);
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
  color: #01983b;
}

.slick-prev::before {
  margin-left: -19px;
}

.title__slider {
  margin-top: 16px;
  z-index: 1;
}

.title__slider-slide {
  position: relative;
  width: 980px;
  height: 493px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title__slider-slide-text {
  position: absolute;
  top: 317px;
  right: 212px;
  bottom: 36px;
  left: 0;
  padding: 35px 56px 8px 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

.title__slider-slide-text-string1 {
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
}

.title__slider-slide-text-string2 {
  margin-top: 16px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f3f4f0;
}

.slick-dots {
  position: absolute;
  bottom: 12px;
  left: 25px;
  text-align: left;
}

.slick-dots > li {
  width: 32px;
  height: 12px;
  background-color: #fff;
  margin-left: 0;
}

.slick-dots > li.slick-active {
  background-color: #01983b;
}

.slick-dots button::before {
  display: none;
}

.polystyrene {
  padding-top: 69px;
  padding-bottom: 20px;
  background-image: url("../image/penopolistirol.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.polystyrene__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.polystyrene__content * {
  margin: 0 auto;
}

.polystyrene__content-logo {
  margin-bottom: 15px;
}

.polystyrene__content-title {
  margin-bottom: 14px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #073d79;
}

.polystyrene__content-youtube {
  border: 1px solid #252b2f;
}
