@font-face {
  font-family: EuropeExt;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/EuropeExt.woff2") format("woff2"),
    url("../fonts/EuropeExt.woff") format("woff");
}

@font-face {
  font-family: EuropeExt;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/EuropeExtBold.woff2") format("woff2"),
    url("../fonts/EuropeExtBold.woff") format("woff");
}

html {
  margin: 0 auto;
}

body {
  margin: 0 auto;
  max-width: 1920px;
}

.header {
  background-image: url("../image/header.png");
}

.container__out {
  margin-left: 20px;
  margin-right: 20px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.header__menu {
  height: 78px;
  margin: 0 -5px;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 5px 0;
  margin: 0 5px;
}

.header__link:hover,
.header__link:active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.header__link.is-active {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.title {
  position: relative;
  background-image: url("../image/title-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  height: 681px;
}

.title__shadow {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  top: 75px;
}

.title__heading {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.title__heading-social {
  text-align: right;
  margin-top: -3px;
}

.title__heading-social * {
  vertical-align: middle;
}

.title__heading-social-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #01983b;
  text-transform: uppercase;
  padding-right: 9px;
}

.title__heading-social-image:hover {
  filter: saturate(250%);
}

.title__heading-telephone {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #2c2783;
  margin-top: 3px;
}

.title__heading-telephone-link {
  color: #2c2783;
  text-decoration: none;
}

.title__heading-telephone-link:hover {
  text-decoration: underline;
}

.title__heading-telephone-link:active {
  color: #000;
}

.title__heading-contacts-search {
  margin-top: 2px;
}

.title__heading-contacts-search-input {
  width: 94%;
  border: none;
  border-bottom: 1px solid #bfbeda;
  outline: none;
}

.title__heading-contacts-search-submit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 3px;
}

.title__heading-contacts-search-submit:active {
  filter: invert(50%);
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px;
  color: #01983b;
}

.slick-prev::before {
  margin-left: -19px;
}

.title__slider {
  margin-top: 16px;
  z-index: 1;
}

.title__slider-slide {
  position: relative;
  max-width: 980px;
  height: 493px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title__slider-slide-text {
  position: absolute;
  top: 317px;
  right: 212px;
  bottom: 36px;
  left: 0;
  padding: 35px 56px 8px 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

.title__slider-slide-text-string1 {
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 0.9;
  color: #fff;
}

.title__slider-slide-text-string2 {
  margin-top: 16px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f3f4f0;
}

.slick-dots {
  position: absolute;
  bottom: 12px;
  left: 25px;
  text-align: left;
}

.slick-dots > li {
  width: 32px;
  height: 12px;
  background-color: #fff;
  margin-left: 0;
}

.slick-dots > li.slick-active {
  background-color: #01983b;
}

.slick-dots button::before {
  display: none;
}

.polystyrene {
  padding-top: 69px;
  padding-bottom: 20px;
  background-image: url("../image/penopolistirol.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.polystyrene__shadow {
  position: absolute;
  top: 460px;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.polystyrene__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.polystyrene__content * {
  margin: 0 auto;
  text-align: center;
}

.polystyrene__content-logo {
  margin-bottom: 15px;
}

.polystyrene__content-title {
  margin-bottom: 14px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #073d79;
}

.polystyrene__content-youtube {
  border: 1px solid #252b2f;
  display: flex;
  z-index: 1;
}

.polystyrene__content-text {
  max-width: 850px;
  margin-top: 57px;
  margin-bottom: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.4px;
}

.polystyrene__content-text * {
  margin-bottom: 1.4em;
}

.polystyrene__content-details-button {
  width: 413px;
  height: 61px;
  background-color: inherit;
  background-image: url("../image/details.png");
  border: none;
  cursor: pointer;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1px 3px #01712c;
}

.polystyrene__content-details-button:hover {
  filter: saturate(130%);
}

.polystyrene__content-details-button:active {
  filter: saturate(80%);
  transform: translateY(2px);
}

.scope {
  padding-top: 46px;
  padding-bottom: 70px;
  background-image: url("../image/house-pencil.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.scope__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scope__content * {
  margin: 0 auto;
}

.scope__content-title {
  margin-bottom: 30px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #073d79;
}

.scope__content-engineering {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.scope__content-engineering-civil,
.scope__content-engineering-industrial {
  width: 610px;
  height: 308px;
  position: relative;
  margin-right: 5px;
  box-sizing: border-box;
}

.scope__content-engineering-civil {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../image/scope-background-1.jpg");
  background-position: 0 -76px;
  text-align: right;
}

.scope__content-engineering-industrial {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../image/scope-background-2.jpg");
  background-position: 0 -25px;
}

.scope__content-engineering-civil-title,
.scope__content-engineering-industrial-title {
  padding: 18px 47px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}

.scope__content-engineering-civil-string,
.scope__content-engineering-industrial-string {
  position: absolute;
  top: 62px;
  display: flex;
  justify-content: right;
  height: 18px;
}

.scope__content-engineering-civil-string {
  right: 0;
}

.scope__content-engineering-industrial-string {
  left: 0;
}

.scope__content-engineering-civil-string2,
.scope__content-engineering-industrial-string2 {
  margin-top: 24px;
}

.scope__content-engineering-civil-string3,
.scope__content-engineering-industrial-string3 {
  margin-top: 48px;
}

.scope__content-engineering-civil-string-invisible,
.scope__content-engineering-industrial-string-invisible {
  width: 47px;
  background-color: rgba(1, 152, 59, 0.25);
}

.scope__content-engineering-civil-string-semiinvisible,
.scope__content-engineering-industrial-string-semiinvisible {
  width: 47px;
  background-color: rgba(1, 152, 59, 0.5);
}

.scope__content-engineering-civil-string-text,
.scope__content-engineering-industrial-string-text {
  padding: 0 48px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #01983b;
}

.scope__content-engineering-civil-logo,
.scope__content-engineering-industrial-logo {
  position: absolute;
  width: 100%;
  height: 24px;
  bottom: 0;
  padding: 0 49px;
  background-color: rgba(255, 255, 255, 0.25);
}

.scope__content-engineering-civil-logo {
  right: 0;
}

.scope__content-engineering-industrial-logo {
  left: 0;
}

.scope__content-engineering-civil-logo-image,
.scope__content-engineering-industrial-logo-image {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.scope__content-directions {
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.scope__content-directions-direction-bottom {
  align-self: flex-end;
}

.scope__content-directions-direction {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.scope__content-directions-direction-illustration {
  width: 190px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/rhombus.png");
}

.scope__content-directions-direction-text {
  margin-top: 23px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #01983b;
  text-transform: uppercase;
  text-align: center;
}

.specifications {
  background-image: url("../image/specifications-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: 192px;
}

.specifications__content {
  margin: 0 auto;
  width: 1210px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px solid #e6ecf4;
  position: relative;
}

.specifications__content * {
  margin: 0 auto;
}

.specifications__content-logo {
  margin-top: 52px;
}

.specifications__content-title {
  margin-top: 6px;
  margin-bottom: 23px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #01983b;
}

.specifications__content-table {
  width: 982px;
  border: 4px solid #d5dfec;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 54px;
  z-index: 1;
}

.specifications__content-table-row {
  height: 39px;
}

.specifications__content-table-row:nth-child(even) {
  background-color: #f2f5f7;
}

.specifications__content-table-row:nth-child(odd) {
  background-color: #fff;
}

.specifications__content-table-firstrow {
  background-image: url("../image/table-header.png");
}

.specifications__content-table-firstcolumn {
  text-align: left;
}

.specifications__content-table-row-header {
  color: #fff;
  border: 1px solid #d5dfec;
  padding: 0 12px;
}

.specifications__content-table-row-data {
  color: #043567;
  border: 1px solid #d5dfec;
  padding: 0 12px;
}

.specifications__content-shadow {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  bottom: 3px;
}

.solving {
  background-image: url("../image/solving-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
}

.solving__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 56px;
}

.solving__content * {
  margin: 0 auto;
}

.solving__content-title {
  margin-top: 44px;
  margin-bottom: 28px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #01983b;
}

.solving__content-advantages {
  width: 1217px;
}

.solving__content-advantages * {
  box-sizing: border-box;
}

.solving__content-advantages-string {
  display: flex;
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 1.3em;
}

.solving__content-advantages-string-redinvisible {
  width: 61px;
  background-color: rgba(255, 0, 0, 0.25);
}

.solving__content-advantages-string-redsemiinvisible {
  width: 61px;
  background-color: rgba(255, 0, 0, 0.5);
}

.solving__content-advantages-string-red {
  position: relative;
  width: 365px;
  background-color: #ff0000;
  margin-right: 9px;
  padding: 11px 6px 11px 72px;
}

.solving__content-advantages-string-green {
  position: relative;
  width: 601px;
  background-color: #01983b;
  padding: 11px 6px 11px 70px;
}

.solving__content-advantages-string-greensemiinvisible {
  width: 63px;
  background-color: rgba(1, 152, 59, 0.5);
}

.solving__content-advantages-string-greeninvisible {
  width: 57px;
  background-color: rgba(1, 152, 59, 0.25);
}

.solving__content-advantages-string-red-image {
  position: absolute;
  top: 6px;
  left: 14px;
}

.solving__content-advantages-string-green-image {
  position: absolute;
  top: 6px;
  left: 18px;
}

.certificates__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.certificates__content * {
  margin: 0 auto;
}

.certificates__content-title {
  margin-top: 8px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #2c2783;
}

.certificates__content-gallery {
  margin-top: 22px;
  width: 914px;
  display: flex;
  justify-content: space-between;
}

.certificates__content-gallery-image {
  width: 144px;
  height: 205px;
  box-sizing: border-box;
  display: block;
}

.certificates__content-gallery-image:hover {
  box-shadow: 0 0 10px #01983b;
  transform: scale(1.1);
  transition: transform 0.2s linear;
}

.certificates__content-award {
  margin-top: 29px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #2c2783;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  line-height: 1em;
}

.certificates__content-top100 {
  margin-top: 8px;
  margin-bottom: 42px;
}

.communications {
  position: relative;
  display: flex;
  justify-content: center;
}

.communications__contacts {
  position: absolute;
  width: 1232px;
  height: 207px;
  box-sizing: border-box;
  background-image: url("../image/contacts-background.png");
  text-align: center;
  color: #fff;
}

.communications__contacts * {
  margin: auto;
}

.communications__contacts-title {
  margin-top: 31px;
  font-family: EuropeExt, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.communications__contacts-address {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.communications__contacts-phone {
  margin-top: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.communications__contacts-mail {
  margin-top: 9px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.communications__contacts-phone-link,
.communications__contacts-mail-link {
  color: #fff;
  text-decoration: none;
}

.communications__contacts-phone-link:hover,
.communications__contacts-mail-link:hover {
  text-decoration: underline;
}

.communications__contacts-phone-link:active,
.communications__contacts-mail-link:active {
  color: #000;
}

.communications-map {
  display: block;
  margin-top: 164px;
  width: 100%;
  height: 337px;
}

.footer {
  height: 312px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  background-image: url("../image/footer-background.png");
  background-position: center;
}

.footer * {
  margin: auto;
}

.footer__logo {
  margin-top: 26px;
}

.footer__year {
  margin-top: -4px;
  font-size: 12px;
  font-weight: bold;
}

.footer__text {
  font-size: 12px;
  font-weight: bold;
}

.footer__social {
  margin-bottom: 130px;
}

.footer__social-image:hover {
  filter: invert(10%);
}

.footer__development {
  position: absolute;
  bottom: 18px;
  right: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}

.footer__development-link {
  color: #fff;
  text-decoration: none;
}

.footer__development-link:hover {
  text-decoration: underline;
}
